/* Root settings */
.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: linear-gradient(to bottom right, #4a280f, #6b3b1a);
}

/* Sidebar */
.sidebar {
    -fx-background-color: linear-gradient(to bottom, #ffb74d, #ff9800);
    -fx-padding: 30 10;
    -fx-spacing: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 6, 0.4, 0, 3);
}

.sidebar-title {
    -fx-text-fill: #4a280f;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: #784d14;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 6;
}

.sidebar-button:hover {
    -fx-background-color: linear-gradient(to right, #ffcc80, #ffa726);
    -fx-text-fill: #4c3207;
    -fx-cursor: hand;
}

/* Logout button */
.logout-button {
    -fx-background-color: linear-gradient(to right, #ff944d, #f16f15);
    -fx-text-fill: #653817;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.3, 0, 2);
}

.logout-button:hover {
    -fx-background-color: linear-gradient(to right, #ff8e40, #ff814f);
    -fx-text-fill: red;
}

/* Main content */
.main-content {
    -fx-background-color: linear-gradient(to bottom right, #ffe0b2, #ffcc80);
    -fx-padding: 30;
}

.main-title {
    -fx-font-size: 24px;
    -fx-text-fill: #4a280f;
    -fx-font-weight: bold;
}

#custom-progress .bar {
    -fx-background-color: #ffa726;
}

#custom-progress .track {
    -fx-background-color: #ffe0b2;
}

.dashboard-panel{
    -fx-background-color: linear-gradient(to bottom right, #f4c06f, #ec9a40);
    -fx-border-style: solid ;
    -fx-border-color: linear-gradient(to bottom, #ffd38a, #f3b766);
    -fx-border-width: 5px;
    -fx-border-radius: 5px;
}

.split-pane-divider {
    -fx-background-color: linear-gradient(to bottom, #ffd38a, #f3b766);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0.3, 0, 2);
    -fx-padding: 3;
}

.section-title-label {
    -fx-alignment: center;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #4a280f;
    -fx-background-color: linear-gradient(to right, #ec9763, #ff9f40);
    -fx-background-radius: 10;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 6, 0.4, 0, 3);
}

.news-textbox {
    -fx-background-color: linear-gradient(to bottom, #f4c06f, #ec9a40);
    -fx-border-color: linear-gradient(to bottom, #ffd38a, #f3b766);
    -fx-control-inner-background: #ffdab3;
    -fx-text-fill: #4c3207;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0.4, 0, 3);
    -fx-border-radius: 5px;
}