.request-item {
    -fx-background-color: #ffebc8;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #4a280f;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.request-item-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.request-item-description {
    -fx-font-size: 14px;
    -fx-text-fill: #555;
}

.switch-button {
    -fx-background-color: linear-gradient(to right, #ffb74d, #ffa726);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0.4, 0, 3);
    -fx-text-fill: #4a280f;
    -fx-font-size: 14px;
    -fx-padding: 8 16;
    -fx-background-radius: 6;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.switch-button:hover {
    -fx-background-color: linear-gradient(to right, #ffcc80, #ffb74d);
    -fx-text-fill: #3e2609;
}

.search-button {
    -fx-background-color: linear-gradient(to right, #ffb74d, #ffa726);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0.4, 0, 3);
    -fx-text-fill: #4a280f;
    -fx-font-size: 14px;
    -fx-padding: 8 16;
    -fx-background-radius: 6;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.search-button:hover {
    -fx-background-color: linear-gradient(to right, #ffcc80, #ffb74d);
    -fx-text-fill: #885116;
}

.label-title {
    -fx-text-fill: #3c200b;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.nameField {
    -fx-font-size: 15px;
    -fx-background-color: #ffebc8;
    -fx-border-color: #ff9159;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 10 12;
    -fx-prompt-text-fill: #4a280f;
    -fx-text-fill: #4a280f;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.3), 4, 0.2, 0, 2);
}

.descriptionField {
    -fx-font-size: 15px;
    -fx-border-color: #ff9159;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-prompt-text-fill: #4a280f;
    -fx-text-fill: #4a280f;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.3), 4, 0.2, 0, 2);
}

.descriptionField .content {
    -fx-background-color: #ffebc8;
    -fx-background-radius: 8;
    -fx-padding: 10 12;
}

.descriptionField .viewport {
    -fx-background-color: transparent;
}

.descriptionField .scroll-bar {
    -fx-background-color: transparent;
}

.char-count-label {
    -fx-font-size: 12px;
    -fx-text-fill: #666;
    -fx-alignment: center-right;
}

.split-pane-divider {
    -fx-background-color: linear-gradient(to bottom, #ffd38a, #f3b766);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0.3, 0, 2);
    -fx-padding: 30;
    -fx-border-radius: 5px;
}

.section-title-label {
    -fx-alignment: center;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #4a280f;
    -fx-background-color: linear-gradient(to right, #ec9763, #ff9f40);
    -fx-background-radius: 10;
    -fx-padding: 3;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 6, 0.4, 0, 3);
}
