.request-item {
    -fx-background-color: #ffebc8;
    -fx-background-radius: 10;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.request-item-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.request-item-date {
    -fx-font-size: 14px;
    -fx-text-fill: #555;
    -fx-font-style: italic;
}

.switch-button {
    -fx-background-color: linear-gradient(to right, #ffb74d, #ffa726);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0.4, 0, 3);
    -fx-text-fill: #4a280f;
    -fx-font-size: 14px;
    -fx-padding: 8 16;
    -fx-background-radius: 6;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.label-title {
    -fx-text-fill: #3c200b;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.switch-button:hover {
    -fx-background-color: linear-gradient(to right, #ffcc80, #ffb74d);
    -fx-text-fill: #3e2609;
}

.search-button {
    -fx-background-color: linear-gradient(to right, #ffb74d, #ffa726);
    -fx-text-fill: #4a280f;
    -fx-font-size: 14px;
    -fx-padding: 8 16;
    -fx-background-radius: 6;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0.4, 0, 3);
}

.search-button:hover {
    -fx-background-color: linear-gradient(to right, #ffcc80, #ffb74d);
    -fx-text-fill: #885116;
}

.reject-button {
    -fx-background-color: linear-gradient(to right, #ff944d, #f16f15);
    -fx-text-fill: #653817;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 8 16;
    -fx-background-radius: 6;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0.4, 0, 3);
}

.reject-button:hover {
    -fx-background-color: linear-gradient(to right, #ff8e40, #ff814f);
    -fx-text-fill: red;
}

.split-pane-divider {
    -fx-background-color: linear-gradient(to bottom, #ffd38a, #f3b766);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0.3, 0, 2);
    -fx-padding: 30;
    -fx-border-radius: 5px;
}

.section-title-label {
    -fx-alignment: center;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #4a280f;
    -fx-background-color: linear-gradient(to right, #ec9763, #ff9f40);
    -fx-background-radius: 10;
    -fx-padding: 3;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 6, 0.4, 0, 3);
}


.tab-pane {
    -fx-alignment: center;
    -fx-tab-min-width: 120px;
    -fx-tab-max-width: 200px;
    -fx-tab-min-height: 40px;
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.tab {
    -fx-alignment: center;
}

.tab-pane .tab-header-area {
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-background-radius: 10 10 0 0;
    -fx-padding: 5 10 5 10;
}

.tab-pane .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab {
    -fx-alignment: center;
    -fx-background-insets: 0;
    -fx-padding: 8 20 8 20;
    -fx-background-color: transparent;
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-text-fill: #4a280f;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.tab-pane .tab:selected {
    -fx-background-color: linear-gradient(to right, #ec9763, #ff9f40);
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 5 5 0 0;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.4, 0, 2);
}

.tab-pane {
    -fx-text-fill: #4a280f;
}

.tab-pane .tab:selected {
    -fx-text-fill: #3c1e08;
}

.tab-pane .tab:hover {
    -fx-background-color: linear-gradient(to top, #ffe0b2, #ffcc80);
    -fx-cursor: hand;
}

.tab-pane .tab:selected:hover {
    -fx-background-color: linear-gradient(to right, #ec9763, #ff9f40);
    -fx-cursor: default;
}

.text-field {
    -fx-font-size: 15px;
    -fx-background-color: #ffebc8;
    -fx-border-color: #ff9159;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-font-weight: bold;
    -fx-padding: 10 12;
    -fx-prompt-text-fill: #4a280f;
    -fx-text-fill: #4a280f;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.3), 4, 0.2, 0, 2);
}

* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-item{
    -fx-background-color: #ffebc8;
    -fx-padding: 10;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #4a280f;
}

.empty-list-label{
    -fx-font-size: 16px;
    -fx-text-fill: #555;
    -fx-font-style: italic;
}
